/* entire page styles */
* {
  font-family: 'Raleway', sans-serif;
  color: white;
  scroll-padding-top: 4em;
}

body {
  background: linear-gradient(#002F10, #003137);
  overflow-x: hidden;
}

/* navbar */
.navbar {
  background-color: #002F10;
}

.nav-link {
  color: white !important;
  text-decoration: none;
  margin: 0 1em;
  border-radius: 1em;
}

.nav-link:hover {
  background-color: #FFB2B2;
  color: #002F10 !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
  cursor: pointer;
  font-weight: bold;
  transform: scale(1.07);
  transition: 0.3s ease-in-out;
}

/* background graphics and animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInDelay {
  0% {
    opacity: 0
  }

  30% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes fadeInTrees {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 5%;
  }
}


.pink-hill {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100vw;
  opacity: 100%;
  animation: 1.25s linear 0s 1 normal fadeIn;
}

@keyframes drift-right {
  from {
    transform: translate(-50vw);
  }

  to {
    transform: translate(100vw);
  }
}

@keyframes drift-left {
  from {
    transform: translate(50vw);
  }

  to {
    transform: translate(-100vw);
  }
}

.pink-cloud {
  position: absolute;
  opacity: 60%;
  z-index: -1;
}
.cloud1 {
  top: 26vh;
}
.cloud2 {
  top: 34vh;
}

.trees {
  position: absolute;
  bottom: 0;
  width: 100vw;
  opacity: 5%;
  z-index: -2;
  animation: 1.5s linear 0s 1 normal fadeInTrees;
}

.drift-left {
  right: 0;
  animation: 25s linear 0s infinite alternate drift-left;
}

.drift-right {
  left: 0;
  animation: 25s linear 0s infinite alternate drift-right;

}

/* header (name, photo) */
@keyframes float {
  from {
    top: 0;
  }

  to {
    top: 0.5em;
  }
}

.header-section {
  height: 100vh;
}

.header-content {
  position: relative;
  padding-top: 20vh;
  animation: 2s ease-in-out 0s infinite alternate float, 1.5s linear 0s 1 normal fadeInDelay;
}

.name-header {
  font-size: 5em !important;
  font-weight: bold;
  margin: 0;
}

.profile-img {
  border-radius: 50%;
}

/* social media buttons */
.btn-hover:hover {
  cursor: pointer;
  transform: scale(1.07) !important;
  transition: 0.3s ease-in-out;
  fill: #FFB2B2;
}

#copy-alert {
  position: fixed;
  display: block;
  left: 50%;
  bottom: 8%;
  background-color: #FFB2B2;
  border-radius: 2em;
  padding: 1em 1em;
  transform: translate(-50%, 0%);
  transition: 0.3s ease-in-out;
}

.alert-text {
  color: black;
  font-weight: bold;
}

/* sections */
.section {
  padding-bottom: 4em;
}

.section-title {
  font-weight: bold;
  min-width: 5em;
  color: #ffdcdc;
}

/* project section cards */
.projects-grid {
  display: grid;
  justify-items: center;
}

.card-row {
  padding: 0;
}

.card-title {
  font-weight: bold;
  color: #ffdcdc !important;
  padding: 1em 0 0.5em 0;
}

.project-card {
  margin: 2em 1em;
  padding: 0em !important;
  border: 0.2em solid white !important;
  background-color: transparent !important;
}

.project-card:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.2s ease-in-out;
}

.card-body {
  border-radius: 0 0 0.3em 0.3em;
}

.card-img {
  border-radius: 0.3em 0.3em 0 0 !important;
}

.tag {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  padding: 0.5em 1em;
  background-color: #FFB2B2;
  border-radius: 2em;
  text-align: center;
  color: black;
  font-weight: bold;
}

/* drive animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: 15s linear 0s infinite normal spin;
}

/* computer resolution */
@media screen and (min-width: 1024px) {
  body {
    font-size: 1em !important;
  }

  .navbar-collapse {
    justify-content: end;
  }

  .icon {
    width: 3em;
    height: 3em;
  }

  .profile-img {
    height: 16em;
    width: 16em;
  }

  .socials-row {
    width: 25vw;
  }

  .section-title {
    margin: 0 2em;
  }

  .intro-blurb,
  .contact-info {
    margin: 0 10em;
  }

  .projects-grid {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2em 3em;
  }

  .project-card {
    max-width: 25em;
  }

  .card-img {
    height: 12em;
    width: 25em;
  }
}

/* tablet resolution */
@media screen and (min-width: 720px) and (max-width: 1024px) {

  .nav-link,
  .intro-blurb {
    font-size: 1.5em !important;
  }

  .navbar-collapse {
    justify-content: center !important;
    color: white;
  }

  .pink-cloud {
    /* display: none; */
  }

  .header-content {
    padding-top: 20vh;
  }

  .name-header {
    font-size: 5em !important;
    font-weight: bold;
    margin: 0;
  }

  .profile-img {
    height: 10em;
    width: 10em;
  }

  .socials-row {
    width: 60vw;
  }

  .icon {
    width: 4em;
    height: 4em;
  }

  .section-title {
    font-size: 3em;
    text-align: center;
  }

  .content-row {
    flex-direction: column;
  }

  .center-text {
    text-align: center;
  }

  .intro-blurb {
    margin: 0 4em;
  }

  .contact-info {
    margin: 1em 11em;
    font-size: 1em;
  }

  .projects-grid {
    grid-template-columns: 1fr 1fr;
    margin: 2em !important;
  }

  .project-card {
    margin: 2em 1em;
    min-width: 40vw !important;
  }

  .card-title {
    font-size: 2em;
    text-align: center;
  }

  .card-body {
    text-align: center;
  }

  .card-img {
    height: 14em;
    width: 28em;
  }
}


/* mobile resolution */
@media screen and (max-width: 720px) {
  .navbar-collapse {
    justify-content: center !important;
    color: white;
  }

  /* .pink-cloud, .pink-hill, .trees {
    display: none;
  } */

  .pink-cloud {
    /* display: none; */
  }

  .header-content {
    padding-top: 25vh;
  }

  .profile-img {
    height: 12em;
    width: 12em;
  }

  .socials-row {
    width: 60vw;
  }

  .icon {
    width: 4em;
    height: 4em;
  }

  .section-title {
    font-size: 3em;
    text-align: center;
  }

  .content-row {
    flex-direction: column;
  }

  .center-text {
    text-align: center;
  }

  .intro-blurb {
    margin: 0 4em;
    font-size: 1.5em;
  }

  .contact-info {
    margin: 1em 10em;
    font-size: 1em;
  }

  .projects-grid {
    grid-template-columns: 1fr;
    margin: 2em auto;
  }

  .card-title {
    font-size: 2em;
    text-align: center;
  }

  .project-card {
    max-width: 70vw;
  }

  .card-body {
    text-align: center;
  }

  .card-img {
    max-height: 14em;
    max-width: 30em;
  }
}